{% extends "::base.html.twig" %}

{% block title %}Main Page{% endblock %}

{% block body %}
    <div class="container"> 
        
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div>
                <a href="{{ path("fos_user_security_logout") }}">
                    <button class="btn btn-warning">
                        <strong>Logout</strong>
                    </button>
                </a>
            </div>
        {% else %}
            <div>
                <a href="{{ path("fos_user_security_login") }}">
                    <button class="btn btn-success">
                        <strong>Login</strong>
                    </button>
                </a>
            </div>
        {% endif %}
        
        <h1>Main Page</h1>
        
        <h3>List of products</h3>
        {% for product in products %}
            {{ product.name }}<br>
            {{ product.description }}<br>
            {{ product.price }}<br><br>
            <a href="{{ path("product_show", {"id":product.id}) }}">
                <button class="btn btn-primary">
                    <strong>Show product</strong>
                </button>
            </a>
            <br><br>
        {% endfor %}
    </div>
{% endblock %}