{% extends 'base.html.twig' %}

{% block body %}
    <h1>Userorders list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userOrder in userOrders %}
            <tr>
                <td><a href="{{ path('order_show', { 'id': userOrder.id }) }}">{{ userOrder.id }}</a></td>
                <td>{{ userOrder.status }}</td>
                <td>{% if userOrder.date %}{{ userOrder.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('order_show', { 'id': userOrder.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('order_edit', { 'id': userOrder.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('order_new') }}">Create a new userOrder</a>
        </li>
    </ul>
{% endblock %}
